/* cette partie permet de gérer le boutton de la page "index" */

html, body {
    height: 100%;
    overflow-y: hidden;
  }
  
  .wrap {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* partie pour le boutton en lui-même(taille,couleur,position...) */
  .button {
    min-width: 300px;
    min-height: 20px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: #ff0000;
    background: linear-gradient(90deg, rgb(119, 0, 0) 0%,rgb(255,0,0) 50%, rgb(119, 0, 0) 100%); 
    border: none;
    border-radius: 1000px;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
    /* permet l'annimation lorsque l'on passe la souris sur le boutton */
  #button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(20px + 12px);
    border: 6px solid #ff0000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 1s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #ffffff;
  }
  
  #button:hover::before, #button:focus::before {
    opacity: 1;
  }
  
  /* permet l'annimation du boutton en cercle */
  #button::after {
    content: '';
    width: 300px; height: 300px;
    border-radius: 100%;
    border: 6px solid #ffffff;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 3s infinite;
  }
  
  /* arrete l'annimation lors du passage de la souris */
  #button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  /* paramètres du cercle(taille, couleur, point de départ...) */
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }


/* cette partie s'occupe de la page "page_cv", du texte et des images de la page "index" */
body{
    text-align: center;
    background-color: rgb(0, 0, 0);
}
img{
    width: 15%;
}

a{
    text-decoration: none;
}

.all{
  color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 12%;
  width: 45%;
}

.dev_titre{
  font-size: 10px;
  text-decoration:underline ;
  text-align: center;
}

.nom_prenom{
  font-size: small;
}

.information{
  font-size: 13px;
}

.sous-titres{
  font-size: 15px;
  opacity: 0.5;
}

/* le conteneur sert a joindre les deux parties de la "page_cv", celui-ci étant séparer en deux parties */
.conteneur{
  background-color: lightgray;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;   
  margin-bottom: 0%;
}

body{
  background-color: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: hidden;
}

/* informations à gauche de la page */
.gauche{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

/* informations à droite de la page */
.droite{
  width: 50%;
  border-left: red solid;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

/* affichage des barres de compétences */
.pourcentages {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.python {width: 70%; background-color: #4CAF50;}
.java {width: 60%; background-color: #2196F3;}
.php {width: 55%; background-color: #962e27;}
.anglais {width: 60%; background-color: #d4bf02;}
.espagnol {width: 30%; background-color: #808080;}